.privilege__list {
  margin: 0 0 0 11px;
  padding: 0;
  list-style-image: url(../../../images/1.svg);
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}

@media screen and (max-width: 1250px) {
  .privilege__list {
    font-size: 18px;
    line-height: 35px;
  }
}

@media screen and (max-width: 500px) {
  .privilege__list {
    font-size: 14px;
    line-height: 20px;
  }
}