.privilege__btm-rigth {
  margin: auto 0 auto 30px;
  padding: 0;
  width: 66px;
  height: 66px;
  cursor: pointer;
  z-index: 1;
}

.privilege__btm-rigth:hover {
  transform: translate(10px, 0);
  opacity: .3;
}

@media screen and (max-width: 1024px) {
  .privilege__btm-rigth {
    width: 50px;
    height: 50px;
    margin-left: 0;
  }
}

@media screen and (max-width: 970px) {
  .privilege__btm-rigth {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

@media screen and (max-width: 860px) {
  .privilege__btm-rigth {
    margin: 0 auto 0 6px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
  }
}