.figure__objects {
  width: 59vw;
  height: 550px;
  background-image: url(../../../images/OBJECTS.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 620px) {
  .figure__objects {
    display: none;
  }
}